    /*=======================================
            global css Computer
    =======================================*/
    @media screen and (min-width: 1024px){
    body,html,main{
        width: 100%;
        height: 100%;
    }
    .video-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        overflow: hidden; /* เพื่อไม่ให้เกิดการเลื่อนเมาส์เพื่อดูเนื้อหาในส่วนล่าง */
    }
    .bg-black{
        background-color: black;
    }
    .clockDuration{
        font-size: 18px;
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .DateTimeDiv{
        font-size: 18px;
        text-align: right;
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    video{ /* ตกแต่ง tag video ที่ agora สร้างมา*/
        border-color: #3490dc;
        border-style: solid;
        border-radius: 10px;
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
    }
    .MainVideoDiv{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 90%;
    }
    .ButtonDiv{
        background-color: #343336 !important;
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        width: 100%;
        height: 10%;
    }
    .buttonVideo{ /*Div ใหญ่ ของเหล่า ปุ่ม */
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .buttonVideo button{
        margin-right: 0.5rem;
    }
    .btn-old{ /* ปุ่มทั้งหมด */
        border-radius: 50% !important;
        width: 3.5rem !important;
        height: 3.5rem !important;
        font-size: 1rem !important;
        background-color: rgba(0,0,0,0.6);
        color: #ffffff;
    }
    .btn-old i{ /* ไอคอนในปุ่มทั้งหมด*/
        margin-top: .5rem !important;
    }
    .btn-disabled{ /* ปุ่มขณะถูกปิด ขึ้นสีแดง*/
        background-color: #db2d2e !important;
        color: #ffffff;
    }
    #leaveVideoCall{ /* ปุ่มวางสาย*/
        background-color: #db2d2e !important;
        color: #ffffff;
    }
    .VoiceLocalEffect{
        box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
        border-radius: 10px;
    }
    .containerAlert {
        transform: scale(0);
        position: absolute;
        bottom: 7rem;
        /* เปลี่ยนจาก top: 10px; เป็น top: 50%; */
        /* outline: #000 1px solid; */
        margin-left: 1rem;
        /* width: 100%; */
        display: flex !important;
        justify-content: start !important;
        align-items: center !important;
        color: #85e260 !important;
        z-index: 999;
    }
    .alertStatus {
        /* transform: scale(0); */
        font-size: 20px;
        background-color: rgba(0, 0, 0, 0.3) !important;
        color: #fff !important;
        padding: 3px 10px !important;
        border-radius: 1rem !important;
    }

    #iconAlert {
        margin-right: .5rem;
    }
    .scaleUpDown {
        animation-name: scaleupanddown;
        animation-duration: 10s;
        transform: scale(0);
    }
    /* .scaleUpDownV2 {
        animation-name: scaleupanddownV2;
        animation-duration: 60s;
        transform: scale(0);
    } */

    @keyframes scaleupanddown {
        0% {
            transform: scale(0);
        }
    /* Change the percentage here to make it faster */
        3% {
            transform: scale(1);
        }

    /* Change the percentage here to make it stay down for longer */
        99% {
            transform: scale(1);
        }

    /* Keep this at the end */
        100% {
            transform: scale(0);
        }
    }

    /* @keyframes scaleupanddownV2 {
        0% {
            transform: scale(0);
        }

        3% {
            transform: scale(1);
        }


        90% {
            transform: scale(1);
        }


        100% {
            transform: scale(0);
        }
    } */

    /*=======================================
            localPlayer css Computer
    =======================================*/
    .localPlayerVideoCall{ /* วิดีโอจอใหญ่ของ local */
        height: 75% !important;
        width: 80% !important;
        position: relative;
    }
    .localPlayerVideoCall div {
        border-radius: 10px;
    }
    .localAfterSubscribe{ /* วิดีโอจอเล็กหลัง subscribe ของ local */
        height: 45% !important;
        width: 50% !important;
        position: relative;
    }
    .localAfterSubscribe div {
        border-radius: 10px;
    }
    .imgdivLocal{  /*กรอบรูปโปรไฟล์ local*/
        width: 250px;
        height: 250px;
        border: 1px solid black;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        /* border-radius: 50% !important; */
        z-index: 1;
    }
    .imgdivLocal img{  /*รูปโปรไฟล์ local*/
        border-radius: 50% !important;
        width: 250px;
        height: 250px;
    }
    .profileNameLocal{
        color: #ffffff;
        text-align: center;
    }
    .namedivLocal{
        background-color: #343336;
        position: absolute;
        padding: 0.2rem !important;
        right: 1rem !important;
        bottom: 1rem !important;
        /* transform: translate(-50%, -50%); */
        border-radius: 2px !important;
        z-index: 1;
    }
    .shareScreen{
        transform: scaleX(-1);
    }
    .switchCameraFR{
        display: none;
    }

    /*=======================================
            remotePlayer css Computer
    =======================================*/

    .remotePlayerVideoCall{ /* วิดีโอจอใหญ่ของ remote */
        height: 45% !important;
        width: 50% !important;
        position: relative;
        margin-top: 1rem;
    }
    .remotePlayerVideoCall div {
        border-radius: 10px;
    }
    .buttonVideo2{
        position: absolute;
        bottom: 1rem;
        left: 1rem;
    }
    .buttonVideo2 div{
        margin-right: 0.5rem;
        font-size: 0.8rem !important;
        padding: 0 !important;
        width: 2.5rem !important;
        height: 2.5rem !important;
    }
    .buttonVideo2 div i{
        margin-top: 0.1 !important;
    }
    .unmuteRemote{
        border-radius: 50% !important;
        width: 3.5rem !important;
        height: 3.5rem !important;
        font-size: 1rem !important;
        background-color: rgba(0,0,0,0.6);
        color: #ffffff;
    }
    .muteRemote{
        border-radius: 50% !important;
        width: 3.5rem !important;
        height: 3.5rem !important;
        font-size: 1rem !important;
        background-color: #db2d2e !important;
        color: #ffffff;
    }
    .imgdivRemote{  /*กรอบรูปโปรไฟล์ local*/
        width: 250px;
        height: 250px;
        border: 1px solid black;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50% !important;
        z-index: 1;
    }
    .imgdivRemote img{  /*รูปโปรไฟล์ local*/
        border-radius: 50% !important;
        width: 250px;
        height: 250px;
    }
    .profileNameRemote{
        color: #ffffff;
        text-align: center;
    }
    .namedivRemote{
        background-color: #343336;
        position: absolute;
        padding: 0.2rem !important;
        right: 1rem !important;
        bottom: 1rem !important;
        /* transform: translate(-50%, -50%); */
        border-radius: 2px !important;
        z-index: 1;
    }
    #remotePlayerContainer { /*พื้นหลังดำ ??*/
        background-color: black;
        visibility: hidden;
    }
}
/*=======================================
        CSS สำหรับหน้าจอมือถือ
=======================================*/

@media screen and (max-width: 768px) {

    body,html,main,.video-container{
        width: 100% !important;
        height: 100% !important;
    }
    .MainVideoDiv{
        width: 100% !important;
        height: 100% !important;
        padding: 0;
        margin: 0;
    }
    .buttonVideo{ /*Div ใหญ่ ของเหล่า ปุ่ม */
        /* background-color: #051407; */
        position: absolute;
        bottom: 1rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .buttonVideo button{
        margin-right: 0.5rem;
    }
    .btn-old{ /* ปุ่มทั้งหมด */
        border-radius: 50% !important;
        width: 3.5rem !important;
        height: 3.5rem !important;
        font-size: 1rem !important;
        background-color: rgba(0,0,0,0.6);
        color: #ffffff;
    }
    .btn-old i{ /* ไอคอนในปุ่มทั้งหมด*/
        margin-top: .5rem !important;
    }
    .btn-disabled{ /* ปุ่มขณะถูกปิด ขึ้นสีแดง*/
        background-color: #db2d2e !important;
        color: #ffffff;
    }
    #leaveVideoCall{ /* ปุ่มวางสาย*/
        background-color: #db2d2e !important;
        color: #ffffff;
    }
    .agora_video_player{ /*class ตัววิดีโอของ local */
        background-color: gray;
    }
    #muteAudio2 {
        display: none;
    }
    #muteVideo2{
        display: none;
    }
    .mobile_d_none{ /* d-none แค่ mobile*/
        display: none !important;
    }
    /*=======================================
            localPlayer CSS Mobile
    =======================================*/

    .localVideoCallDiv div div{
        height: 100% !important;
        width: 100% !important;
        border-radius:  10px!important;
    }
    .localPlayerVideoCall{ /* วิดีโอจอใหญ่ของ local */
        height: 100% !important;
        width: 100% !important;
        background-color: #85e260 !important;
        /* border-radius:  0px!important; */
    }
    .localAfterSubscribe{ /* วิดีโอจอเล็กหลัง subscribe ของ local */
        height: 200px !important;
        width: 150px !important;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        margin: 1rem;
    }
    .localAfterSubscribe div {
        border-radius: 10px;
    }
    .localPlayerVideoCall .imgdivLocal{  /*กรอบรูปโปรไฟล์ local*/
        display: flex;
        align-items: center;
        border: 1px solid black;
        position: absolute;
        width: 200px !important;
        height: 200px !important;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50% !important;
        z-index: 1;

    }
    .localAfterSubscribe .imgdivLocal{  /*กรอบรูปโปรไฟล์ local*/
        display: flex;
        align-items: center;
        border: 1px solid black;
        position: absolute;
        width: 50px !important;
        height: 50px !important;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50% !important;
        z-index: 1;

    }
    .imgdivLocal img{  /*รูปโปรไฟล์ local*/
        border-radius: 50% !important;
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
    }
    .switchCameraFR{
        position: absolute;
        left: 10%;
        top: 5%;
        transform: translate(-10%, -10%);
    }
    .switchCameraFR i{
        font-size: 20px;
    }

    /*=======================================
            remotePlayer CSS Mobile
    =======================================*/
    .remoteVideoCallDiv div div{
            width: 100% !important;
            height: 100% !important;
            border-radius:  10px!important;
    }
    .imgdivRemote{
        display: flex;
        align-items: center;
        border: 1px solid black;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50% !important;
        z-index: 1;
    }
    .imgdivRemote img{  /*รูปโปรไฟล์ local*/
        border-radius: 50% !important;
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
    .remotePlayerVideoCall{ /* วิดีโอจอใหญ่ของ remote */
        height: 100% !important;
        width: 100% !important;
    }

}
